<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PartyBin{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="theme-switcher">
        <button data-theme="light">Claro</button>
        <button data-theme="dark">Oscuro</button>
        <button data-theme="hacker">Hacker</button>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="/static/js/utils.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
